<h2>Booking Confirmed </h2>
<p>Hello <%=@user.name %>,</p>
<p>
  Your ticket is booked.  
  details:
</p>
<ul>
  <li>Movie: <%= @movie.title %></li>
  <li>Show_time:<%= @show.show_time.strftime("%d %b %Y, %I:%M %p") %></li>
  <li>Seat:<%= @booking.number_of_seats %></li>
  <li>Price: Rs. <%= @booking.total_price %></li>
</ul>


