<h2 class="page-title">Available Shows</h2>

<% if @shows.any? %>
  <div class="shows-container">
    <% @shows.each do |show| %>
      <div class="show-card">
        <p class="show-time">
          <%= show.show_time.strftime("%d %b %Y, %I:%M %p") %>
        </p>

        <p>Seats: <strong><%= show.available_seats %></strong></p>
        <p>Price: <strong>₹<%= show.seat_price %></strong></p>

        <%= link_to "Book Now", new_show_booking_path(show), class: "book-btn" %>
      </div>
    <% end %>
  </div>
<% else %>
  <h3 class="no-shows">No shows available for this movie.</h3>
<% end %>


<div class= "flex-css">
  <nav class="add-show-btn">
    <%= link_to "Back to Movies", movies_path %>
  </nav>

  <% if current_user.role == "admin" %>
    <div class="add-show-btn">
      <%= link_to "Add Show", new_movie_show_path(@movie) %>
    </div>

    <div class="add-show-btn">
      <%= link_to "Edit Movie", edit_movie_path(@movie) %>
    </div>


    <div class="add-movie-btn">
      <%= link_to "Delete Movie",
        movie_path(@movie),
        data: {
          turbo_method: :delete,
          turbo_confirm: "Are you sure?"
        } 
      %>
    </div>
  <%end%>
</div>