<h2 class="page-title">My Bookings</h2>

<% if @bookings.any? %>
  <table class="booking-table">
    <thead>
      <tr>
        <th>Movie</th>
        <th>Show Time</th>
        <th>Seats</th>
        <th>Amount</th>
        <th>Booking Status</th>
        <th>Show Status</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <% @bookings.each do |booking| %>
        <tr>
          <td><%= booking.show.movie.title %></td>

          <td>
            <%= booking.show.show_time.strftime("%d %b %Y, %I:%M %p") %>
          </td>

          <td><%= booking.number_of_seats %></td>

          <td>₹ <%= booking.total_price %></td>

          <td>
            <span class="status <%= booking.status.downcase %>">
              <%= booking.status %>
            </span>
          </td>

          <td>
            <span class="<%= booking.show_status %>">
              <%= booking.show_status.capitalize %>
            </span>
          </td>

          <td>
            <% if booking.status == "book"%>
              <%= button_to "Cancel",
                  cancel_booking_path(booking),
                  method: :patch,
                  data: { confirm: "Are you sure you want to cancel?" },
                  class: "cancel-btn" %>
            <% else %>
              <span class="disabled">Not Allowed</span>
            <% end %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="no-bookings">No bookings yet</p>
<% end %>
