<div class="booking-wrapper">

  <div class="show-info">
    <p><strong>Movie:</strong> <%= @show.movie.title %></p>
    <p><strong>Show Time:</strong> <%= @show.show_time.strftime("%d %b %Y, %I:%M %p") %></p>
    <p><strong>Price per seat:</strong> ₹<%= @show.seat_price %></p>
    <p><strong>Available seats:</strong> <%= @show.available_seats %></p>
  </div>

  <%= form_with model: [@show, @booking], local: true do |f| %>
    <div class="field">
      <%= f.label :number_of_seats %>
      <%= f.number_field :number_of_seats %>

      <% if @booking.errors[:number_of_seats].any? %>
        <div class="booking-error">
          <%= @booking.errors[:number_of_seats].first %>
        </div>
      <% end %>
    </div>

    <div class="actions">
      <%= f.submit "Book Now" %>
    </div>

    <% if current_user.role == "admin" %>
      <div class="flex-css">
        <div class="add-movie-btn">
           <%= link_to "Edit show", edit_movie_show_path(@show[:movie_id], @show) %>
        </div>

        <div class="add-movie-btn">
          <%= link_to "delete show", new_movie_path %>
        </div>
      </div>
    <%end%>
  <% end %>

</div>
