<script>
  window.bookedSeats = <%= raw @booked_seats.to_json %>;
</script>

<%= form_with model: [@show, @booking], local: true, data: { turbo: false } do |f| %>

  <input type="hidden" name="booking[seat_numbers]" id="seat_numbers">

  <div class="seat-layout">
    <% total_seats = @show.total_seats %>
    <% seat_count = 0 %>
    <% row = "A" %>

    <% while seat_count < total_seats %>
      <div class="seat-row">
        <% 10.times do |i| %>
          <% break if seat_count >= total_seats %>

          <div class="seat" data-seat="<%= row + (i + 1).to_s %>">
            <%= row + (i + 1).to_s %>
          </div>

          <% seat_count += 1 %>
        <% end %>
      </div>
      <% row = row.next %>
    <% end %>
  </div>

  <% @booking.errors.full_messages.each do |err| %>
    <div class="booking-error"><%= err %></div>
  <% end %>

  <%= f.submit "Book Now", class: "book-btn" %>
<% end %>
  

<% if current_user.role == "admin" %>
    <div class="flex-css">

      <%= link_to "Edit Show",
          edit_movie_show_path(@show.movie, @show),
          class: "book-btn" %>

      <%= button_to "Delete Show",
          movie_show_path(@show.movie, @show),
          method: :delete,
          data: { confirm: "Are you sure?" },
          class: "book-btn",
          form: { style: "display:inline" } %>

    </div>
  <% end %>