<div class="add-show">
  <h2>Edit Show</h2>

  <%= form_with model: [@movie, @show], local: true, data: { turbo: false } do |f| %>

    <div class="field">
      <%= f.label :show_time, "Show Date & Time" %>
      <%= f.datetime_select :show_time %>

      <% @show.errors[:show_time].each do |error| %>
        <p class="error"><%= error %></p>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :seat_price, "Price per Seat (₹)" %>
      <%= f.number_field :seat_price %>

      <% @show.errors[:seat_price].each do |error| %>
        <p class="error"><%= error %></p>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :available_seats %>
      <%= f.number_field :available_seats, min: 1, max: 120 %>

      <% @show.errors[:available_seats].each do |error| %>
        <p class="error"><%= error %></p>
      <% end %>
    </div>

    <div class="actions">
      <%= f.submit "Update Show" %>
    </div>

  <% end %>
</div>
